           <div class="title-info">
                <h1>Bilgiler:</h1>
            </div>

            <div class="username-info info">
                <p style="text-transform: capitalize;"><span>Adı:</span><%= userInfoForProfile.username %> </p>
            </div>

            <div class="surname-info info">
                <p style="text-transform: capitalize;"><span>Soyadı:</span><%= userInfoForProfile.surname %> </p>
            </div>

            <div class="email-info info">
                <p><span>E-mail:</span><%= userInfoForProfile.mail %> </p>
            </div>

            <div class="age-info info">
                <p><span>Yaş:</span><%= userInfoForProfile.age %> </p>
            </div>

            <div class="tel-info info">
                <p><span>Tel:</span><%= userInfoForProfile.phone %> </p>
            </div>

            <div class="Address-info info">
                <p><span>Adresim:</span> <%= userInfoForProfile.address %></p>
            </div>