<div class="title-info">
    <h1>Bilgilerini düzenle:</h1>
</div>

<div class="alert-info-area">
    <% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
    <div style="margin-bottom: 20px;" class="info-alert">
        <%= error.msg %>
    </div>
    <% }) %>
    <% } %>
</div>

<form action="" method="post">

    <div class="photo-info info">
        <h3>Profil Fotoğrafı düzenle:</h3>
        <div class="edit-container">
            <div class="file-container">
                <i class="fas fa-cloud-upload-alt"></i>
                Dosya Yükle
                <input class="upload-file" type="file" name="avatar" id="avatar">
            </div>
        </div>
    </div>

    <div class="username-info info">
        <h3>Adı düzenle:</h3>
        <div class="edit-container">

            <input type="text" name="username" id="username" value="<%= userInfoForProfile.username %>">
        </div>
    </div>

    <div class="surname-info info">
        <h3>Soyadı düzenle:</h3>

        <div class="edit-container">
            <input type="text" name="surname" id="surname" value="<%= userInfoForProfile.surname %>">
        </div>
    </div>

    <div class="email-info info">
        <h3>Maili düzenle:</h3>

        <div class="edit-container">
            <input type="email" name="mail" id="mail" value="<%= userInfoForProfile.mail %>">
        </div>
    </div>

    <div class="pass-info info">
        <h3>Şifreyi düzenle:</h3>

        <div class="edit-container">
            <input type="password" name="password" id="password" value="<%= userInfoForProfile.password %>">
        </div>
    </div>

    <div class="age-info info">
        <h3>Yaşı düzenle:</h3>

        <div class="edit-container">
            <input type="number" min="18" max="100" name="age" id="age" value="<%= userInfoForProfile.age %>">
        </div>
    </div>

    <div class="tel-info info">
        <h3>Telefonu düzenle:</h3>

        <div class="edit-container">
            <input type="text" name="phone" id="phone" value="<%= userInfoForProfile.phone %>">
        </div>
    </div>

    <div class="Address-info info">
        <h3>Adresi düzenle:</h3>

        <div class="edit-container">
            <textarea name="address" id="address"><%= userInfoForProfile.address%></textarea>
        </div>
    </div>

    <button type="submit"><i class="far fa-edit"></i>Düzenle</button>
</form>